.wrapper {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  transition: background-color var(--transition);
}

.wrapper:hover {
  background-color: var(--primary-color-light);
}

.wrapperUser {
  display: flex;
  flex-direction: column;
}

.name,
.number {
  color: var(--primary-color);
  margin-right: 8px;
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color var(--transition);
}

.button:hover {
  background-color: var(--secondary-color);
}
